@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teko:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #141414;
}

.header_top {
    width: 100%;
    max-width: 1304px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: end;
}

.header_top--logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header_top--container {
    width: 100%;
    max-width: 978px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 34px;
    padding-bottom: 18px;
    padding-top: 18px;
}

.header_top--container--made {
    width: 100%;
    max-width: 146px;
    display: flex;
    gap: 6px;
}

.header_top--container--made--linkFirst {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 9px;
    line-height: 15.3px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFFBF;
    text-decoration: none;
}

.header_top--container--made--linkSecond {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 15.3px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.header_top--container--nav {
    width: 100%;
    max-width: 559px;
    display: flex;
    gap: 37px;
}

.header_top--container--nav--link {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.76px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.header_bottom {
    width: 100%;
    max-width: 1304px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.header_bottom--social {
    width: 100%;
    max-width: 978px;
    background-color: #FFFFFF;
    display: flex;
    gap: 37px;
    padding-left: 3px;
}

.header_bottom--social--link {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 68px;
    letter-spacing: 2.97px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.header_bottom--form {
    width: 100%;
    max-width: 584px;
    padding: 68px;
    background-color: #FFFFFF;
    position: absolute;
    top: 68px;
    right: 68px;
    z-index: 10;
}

.header_bottom--form--studio {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.58px;
    letter-spacing: 2.76px;
    text-transform: uppercase;
    color: #99823D;
    margin-bottom: 2px;
}

.header_bottom--form--title {
    font-family: Teko;
    font-weight: 400;
    font-style: Regular;
    font-size: 67px;
    line-height: 67.03px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #141414;
    margin-bottom: 32px;
}

.header_bottom--form--text {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0%;
    color: #141414;
    width: 435px;
    margin-bottom: 15px;
}

.header_bottom--form--box {
    width: 100%;
    max-width: 448px;
    display: flex;
    justify-content: space-between;
}

.header_bottom--form--box--buttonFirst {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 17.85px;
    letter-spacing: 2.97px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 216px;
    height: 68px;
    background-color: #99823D;
    border: none;
    cursor: pointer;
}

.header_bottom--form--box--buttonSecond {
    width: 216px;
    height: 68px;
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 17.85px;
    letter-spacing: 2.97px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: black;
    border: none;
    cursor: pointer;
}

.header_bottom--rectangle {
    width: 489px;
    height: 329px;
    background-color: #99823D;
    position: absolute;
    right: 0;
    bottom: 0;
}

.make {
    width: 100%;
    max-width: 1176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 136px;
}

.make_right {
    width: 100%;
    max-width: 688px;
}

.make_right--about {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.58px;
    letter-spacing: 2.76px;
    text-transform: uppercase;
    color: #99823D;
    margin-bottom: 5px;
}

.make_right--title {
    font-family: Teko;
    font-weight: 400;
    font-style: Regular;
    font-size: 53px;
    line-height: 52.96px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #141414;
    width: 655px;
    margin-bottom: 28px;
}

.make_right--textFirst {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0%;
    color: #141414;
    margin-bottom: 16px;
}

.make_right--textSecond {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0%;
    color: #141414;
    width: 684px;
}

.make_left {
    width: 100%;
    max-width: 323px;
}

.make_left--articleFirst {
    margin-bottom: 80px;
}

.make_left--article--news {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.58px;
    letter-spacing: 2.76px;
    text-transform: uppercase;
    color: #99823D;
    margin-bottom: 11px;
}

.make_left--article--news--span {
    margin: 0 17px;
}

.make_left--article--subtitle {
    font-family: Teko;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 26.11px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #141414;
}

.numbers {
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numbers_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers_card--tousand {
    font-family: Teko;
    font-weight: 700;
    font-style: Bold;
    font-size: 59px;
    line-height: 58.65px;
    letter-spacing: 0%;
    text-align: center;
    color: #141414;
    margin-bottom: 19px;
}

.numbers_card--subtitle {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 17.85px;
    letter-spacing: 2.97px;
    text-align: center;
    text-transform: uppercase;
    color: #99823D;
}

.numbers_rectangle {
    width: 9px;
    height: 9px;
    background-color: #99823D;
}